{% ckan_extends %}

{% block title %}Signed out - {{ super() }}{% endblock %}

{% block breadcrumb_content %}
  <li class="govuk-breadcrumbs__list-item">{{ h.nav_link(_('Sign in'), named_route='user.login') }}</li>
  <li class="govuk-breadcrumbs__list-item"><a>{{ _('Signed out') }}</a></li>
{% endblock %}

{% block main_section_content %}
  <section class="module">
    <div class="module-content">
      <h1 class="govuk-heading-xl">{% block page_heading %}{{ _('Signed out') }}{% endblock %}</h1>
      <p class="govuk-body">You have successfully signed out.</p>
    </div>
  </section>
{% endblock %}
