{% block package_list %}
  {% if packages %}
  <div>
    	{% block package_list_inner %}
      {% asset 'nap_theme/delete_confirm_js' %}
	      {% for package in packages %}
          {% snippet 'user/snippets/package_item.html', package=package, item_class=item_class, hide_resources=hide_resources, banner=banner, truncate=truncate, truncate_title=truncate_title %}
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
	      {% endfor %}
	    {% endblock %}
  </div>
  {% else %}
    <div class="govuk-!-margin-9">
        <p class="govuk-body"> {{ _('You haven\'t created any metadata entries.') }}</p>
    </div>
  {% endif %}
{% endblock %}