.nap-masthead {
  color: #fff;
  background-color: #1d70b8;
  font-size: 14px
}

.nap-masthead-height {
  padding-top: 2px;
  padding-bottom: 5px;
}

.nap-masthead-no-link {
  color: #fff !important;
  text-decoration: none !important;
  cursor: default;
  font-weight: 400 !important;
}

.nap-masthead-link {
  color: #fff !important;
  font-weight: 700;
  text-decoration: none;
}

.nap-search-button, 
.nap-search-button:active {
  background-color: #1d70b8;
  color: #fff;
  border-left-color:#1d70b8;
  margin-left: -5px;
  width: 40px;
  height: 40px;
  box-shadow: none;
  top:0;

}
.nap-search-button:hover {
  background-color: #207dce;
}

.nap-search-button:focus:not(:active):not(:hover) {
  color: #fff;
  background-color: #1d70b8;
  z-index: 2;
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 4px #0b0c0c;
}

.nap-search-text {
  border-right-color:#1d70b8;
  border-right-width: 2px;
  margin-right: 0px;
  position:relative;
  max-width: 85%;
}

.nap-search-text:focus {
  z-index: 2;
}

.nap-search-text-top {
  border-color: #fff;
}

.nap-tag {
  text-transform: none;
  margin-bottom: 2px;
}

.nap-alt-color {
  color: #505a5f;
}

.nap-align-right {
  text-align: left;
}

.nap-delete-confirm-collapser{
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.nap-delete-confirm-container {
  background-color: #F8F8F8;
}

@media (min-width:40.0625em) {
  .nap-search-text {
    max-width: 41ex;
  }

  .nap-align-right {
    text-align: right;
  }

  .nap-masthead-height {
    padding-top: 3px;
    padding-bottom: 6px;
  }

  .nap-masthead {
    font-size: 16px
  }
}
