
.select2-container-multi .select2-choices {
    min-height: 26px;
    border: none;
    left:-6px;
    top:-1px;
    background: inherit;
    margin:0;
}

.select2-container-multi.select2-container-active .select2-choices {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-ajax-error, .select2-results .select2-selection-limit {
    background: #f4f4f4;
    display: list-item;
    padding-left: 5px;
    font-family: "GDS Transport", arial, sans-serif;
}

.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;
    min-height: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "GDS Transport", arial, sans-serif;
}

.slug-preview {
    font-family: "GDS Transport", arial, sans-serif;
    font-size: 1.1875rem;
    margin-top: 0.5rem;
}

@media all and (min-width: 480px) {
    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 4rem;
    }
}
