.search-wrapper {
    display: table;
    width: 100%;
    background: #fff;
}

.search-submit-wrapper {
    position: relative;
    display: table-cell;
    vertical-align: top;
}

.search-submit {
    border: 0;
    cursor: pointer;
    border-radius: 0;
    position: relative;
    padding: 0;
    width: 40px;
    height: 40px;
    background-image: url(/assets/images/search-button.png);
    background-repeat: no-repeat;
    background-position: 2px 50%;
    text-indent: -5000px;
    overflow: hidden;
    background-color: #0b0c0c;
    color: #fff;
}

.search-filter .govuk-select{
    width: 90%
}

.filter-checkboxes {
    max-height: 200px;
    overflow-x: hidden;
}

.filter-input {
    padding-left: 33px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E") #fff no-repeat -5px -3px;
}

.govuk-accordion__icon {
    display: none;
}

.govuk-accordion__controls {
    display: none;
}

.js-enabled .filter-expander-icon {
    height: 40px;
    width: 40px;
    position: absolute;
}

.govuk-accordion__section--expanded .filter-expander-icon {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='40' height='40'%3E%3Cpath d='m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E") no-repeat -5px -3px;
}
.filter-expander-icon {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='40' height='40'%3E%3Cpath d='m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E") no-repeat -5px -3px;
}

.js-enabled .govuk-accordion__section-heading {
    margin-left: 40px;
}

.js-enabled .filter-selected {
    margin-left: 40px;
}

.facet-tags {
    padding-bottom: 20px;
    font-family: GDS Transport,arial,sans-serif;
}

.facet-tags__group:nth-child(2n+1) {
    background-color: #f3f2f1;
}

.facet-tags__group {
    padding: 5px;
}

.facet-tags__wrapper {
    vertical-align: middle;
    margin: 5px 0;
    display: inline-block;
}

.facet-tags__wrapper:first-of-type .facet-tags__preposition:first-of-type {
    font-weight: bold;
}

.facet-tags__preposition {
    display: table-cell;
    padding: 0 7px 0 2px;
    vertical-align: middle;
}

.js-enabled .facet-tag {
    padding: 8px 7px 7px 23px;
}

.facet-tag {
    display: table-cell;
    position: relative;
    padding: 5px;
    border: 1px solid #505a5f;
    border-radius: 5px;
    background-color: #f3f2f1;
}

.js-enabled .facet-tag__text {
    margin-left: 5px;
}

.facet-tag__text {
    display: inline-block;
    margin-left: 0;
}

.js-enabled .facet-tag__remove {
    display: inline-block;
    border: 1px solid transparent;
}
.facet-tag__remove {
    font-size: 16px;
    line-height: 1.25;
}.facet-tag__remove {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    font-family: "nta",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    text-align: left;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    background: none;
    border: 0;
}
